:root{
  --primaryColor: #202535; /* variabel för background färg*/ 
  --mainText: #D8B0B0; /* variabel för text färg*/ 
  --mainIcon: #D99BFF; /* variabel för icons färg*/ 
  --mainForm: #C0C6C9; /* variabel för inputs background färg*/ 
}