<<<<<<< HEAD:src/assets/myCardsPage.css
/* .marginTop {
=======
* {
  margin-top: 1.5rem;
}

.marginTop {
>>>>>>> 8193605aa8f9ce04670f2dbf8ce6a3abbb5028c5:src/assets/styles/myCardsPage.css
  margin-top: 1rem;
}
.centerElement {
  text-align: center;
}
.flexBox {
  display: flex;
  flex-wrap: wrap;
}

.flexBasis {
  flex-basis: 100%;
}

body {
  background-color: var(--primaryColor);
}
.mainText {
  color: var(--mainText);
}
.formBackground {
  background: var(--mainForm);
}
.plus-icon {
  color: var(--mainIcon);
  font-size: 4.5rem;
  margin-top: 1.5rem;
} */
