form div {
    
    width: 60%;
    margin: 3rem auto;
    border-radius: 8px;
    padding: 20px;
   
}
input[type=text], input[type=number] {
    width: 100%;
    display: inline-block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px black;
    box-sizing: border-box;
}
.check-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon {
    background-color: var(--mainIcon);
    color:black;
    font-size: 4.5rem;
    margin-top: 1.5rem;
    border-radius: 50%;
  }

  .check-icon:hover {
      opacity: 0.8;
      transition: all ease-out 0.5s;
  }

  
