main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.mycards-container {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.add-icon {
  font-size: 4.5rem !important;
  color: var(--mainIcon) !important;
  cursor: pointer;
}
.add-icon:hover {
    opacity: 0.8;
    transition: all 0.5s ease-out;

}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
}
.header h2 {
    font-size: 2.8rem;
    margin: 0 1rem;
    
}

