.header {
  display: flex;
  margin: 1rem;
}
.header h1 {
  color: var(--mainText);
}
.other-cards {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
}
.delete-icon {
  font-size: 3.2rem !important;
  color: var(--mainIcon) !important;
  cursor: pointer;
}
.delete-icon:hover {
  opacity: 0.8;
  transition: all 0.5s ease-out;
}
